#root {
  /* max-width: 1280px; */
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #d8c0a1;
  padding: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.3s ease;
}
.navbar a:hover {
  background-color: #ddc5a7;
  border-radius: 5px;
}

/* Gallery */
.gallery h2{
  font-size: 32px;
  margin-left: -80%;
  margin-top: 20px;
  color: #d2b795;
}
.gallery p{
  margin-left: -43%;
  color: #815b2d;
}

/* Form */
.form-container ,.product_item {
  max-width: 400px;
  margin:20px  auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.form-container h1 , .product_item h2 , .signup-container h1{
  font-size: 30px;
  text-align: center;
  color: #333;
}
.form-container input, .form-container select ,.input-field{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container button ,.product_item button , .signup-button{
  padding: 10px 20px;
  background-color: #dcceb2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* signup  */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88vh;
  background-color: #f0f4f8;
  padding: 20px;
}
.signup-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.input-field {
  margin: 5px 0;
  font-size: 16px;
}
.input-field:focus {
  border-color: #dcceb2;
  outline: none;
}
.signup-button {
  width: 100%;
}
